body{
    margin:0px;
}
ul{
    margin:0px;
    padding:0px;
}

/* Shared Class Elements */
.footer, .call, .quote, .quote.inner, .information, .hero{
    display: flex;
    justify-content: center;
    align-items: center;  
}






/* MAIN ELEMENTS OF SITE */
 .header, .hero{
    background-color: teal;
    padding:10px 200px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    font-size: 20px;
    justify-content: space-between;
}

.hero{
    padding:32px 200px;
}

.header nav{
    background-color: green;
    
}

.header ul{
    display:flex;
    align-items: baseline;
    list-style-type:none;
    gap: 50px;
    margin:0px; 
}

.header li{
    align-items: center;
}

.header a{
    color:inherit;
    text-decoration:none;
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
}

.logo{
    margin-right: auto; 
    font-weight: bold;
    font-size: 30px; 
}

 .container{
    display:flex;
    justify-content: flex-end;
    background-color:green;
    
 }
 .header{
    flex-basis:1200px;
 }





.hero{
    background-color:blueviolet;
    height: 300px;
}

.container{
    display:flex;
    justify-content: flex-start;
}

.information{
    background-color:whitesmoke;
    height: 200px;
}




.quote{
    background-color:red;
    height:200px;
}
.quote.inner{
    background-color: green;
    height:100px;
    width: 500px;
    flex-direction: column;
}

.quote.inner cite{
    align-self: flex-end;
    margin-right: 10px;
    font-weight: bold;
}




.call{
    background-color: yellowgreen;
    height: 100px;
}


.footer{
    background-color:aqua;
    height: 50px;
}


